@model NewsApp.Models.ArticleModels

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h1>@Html.DisplayFor(model => model.title)</h1>
    <br />
    <div>
        <div class="panel-left">
            @Html.DisplayFor(model => model.published_date)
        </div>
        <div class="panel-right">
            <i class="fa fa-circle @Model.level" aria-hidden="true"></i>
        </div>
    </div>
    <br />
    <br />
    <p>@Html.DisplayFor(model => model.body)</p>

    <br />

    <div class="url_explainations">
        <h4>Explainations</h4>

        @foreach (var explaination in Model.url_explanation)
        {
            <p>@explaination.title : <a href="@explaination.url">@explaination.url</a></p>

        }
    </div>
    <div class="url_actions">
        <h4>Actions</h4>
        @foreach (var action in Model.url_action)
        {
            <p>@action.title : <a href="@action.url">@action.url</a></p>
        }
    </div>

    <br />


    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })




</div>