
@model IEnumerable<NewsApp.Models.ArticleModels>

@{
    ViewBag.Title = "Master View";
}
<div class="container">
    <br />
    <div>
        <br />
        <div class="form-group input-group ">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("filterByDate", "", new { @class = "form-control" })

                    <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Filter by Date</button>
                </p>
            }
        </div>
        <div class="form-group input-group">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("filterByLevel", "", new { @class = "form-control" })

                    <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i> Filter By Level</button>
                </p>
            }
        </div>
    </div>
    <br />


    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Published Date", "Index", new { sortOrder = "date" })
            </th>
            <th>
                @Html.ActionLink("Level", "Index", new { sortOrder = "level" })
            </th>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = "title" })
            </th>
        </tr>
    </table>


    <ul class="list-group">

        @foreach (var item in Model)
            {
            @Html.Partial("_Article", item)
        }

    </ul>
</div>

